.form-search__select-list {
  scrollbar-color: #b4b4d7 #ffffff;
  scrollbar-width: thin;
}

.form-search__select-list::-webkit-scrollbar {
  width: 12px;
}

.form-search__select-list::-webkit-scrollbar-thumb {
  background: #b4b4d7;
  border-radius: 8px;
  border: 4px solid #ffffff;
}